.bg-secondary-dark {
	background-color: var(--color-secondary-dark) !important;
}
.text-bold {
	font-weight: bold !important;
}
.text-underline {
	text-decoration: underline !important;
}
.checked {
	&::after {
		width: 75% !important;
	}
}
.display-block {
	display: block !important;
}
.display-flex {
	display: flex !important;
}
.display-none {
	display: none !important;
}
.display-grid {
	display: grid !important;
}
.scale-1 {
	transform: scale(1) !important;
}
