@mixin shadow {
	box-shadow: 3px 3px 2px 0px black;
	&:active {
		box-shadow: 1px 1px 1px 0px black;
	}
}
@mixin scale($scale: 1.1) {
	&:hover,
	&:focus {
		transform: scale($scale);
	}
	&:active {
		transform: scale(1);
	}
}
@mixin name-plate {
	background-color: var(--color-secondary);
	padding: 0.5em 1em;
	text-align: center;
	color: black;
	transition: transform 50ms;
	@include shadow;
}
@mixin grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 15ch);
}
